body{
    background-image: url("web\ photo.jpg.jpg");
    text-align: center;

    font-family: Arial, sans-serif;
    color:bisque;
    font-size: 20px;
    background-attachment: fixed;
    width:100% ;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.head{
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
font-style:oblique ;
color:grey;
}
.log{
    font-size: 2em;
margin-top: 60px;
    font-style: oblique;
    text-align: center;
    align-items: center;
}
.username, .password {
    display: flex;
    font-size: .9em;
    width: 200px;
    padding-bottom:8px;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border-radius: 5px;

    background-color: transparent;
color: black;
font-size: auto;
    border: 2px solid black;
transition: calc(0.8s)ease;
    align-items: center;
}
.username:hover, .password:hover {
    background-color:bisque

}

